body{
    background-image: linear-gradient(rgb(0,0,0,0.2), white);
    background-size: 100%;
    background-repeat: no-repeat;
}

.sadrzaj{
    background-image: linear-gradient(rgb(0,0,0,0.1) 2%,white 8%,white 90%);
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.navbar-custom {
    background: linear-gradient(to bottom, #f85032 0%,#cd0909 100%);
    /*background: linear-gradient(to bottom, #f85032 0%,#ef4c37 45%,#f6290c 45%,#f6290c 45%,#cd0909 45%,#cd0909 71%,#cd0909 100%);
*/}


nav li{
    height:30px;
}
.nav-li-prvi{
    border-left: 1px solid rgb(0,0,0,0.1);
}
.nav-li{
    color:white;
    padding: 10px 10px 17px 10px;
    font-size:16px;
    border-right: 1px solid rgb(0,0,0,0.1);
}
.nav-li:hover{
    color:white;
    text-decoration: none;
    background-color: rgb(0,0,0,0.2);
}
.nav-li-slika:hover{
    color:white;
    text-decoration: none;
    opacity: 0.8;
}
.ham{
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    margin: 6px 0;
}
.navbar-toggler {
    padding: 0.25rem 0.25rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 2px solid white!important;
    border-radius: 0.25rem;
}
.linija-meni{
    display:none;
}
.logo-nav{
    width:120px;
    height:40px;
    display:none;
}
header{
    width: 100%;
}
.email-link{
    color:black;
}
.email-link:hover{
    color:#cd0909;;
}
.slika-kat{
    border:1px solid gray;
    width: 100%;
    margin-top: 20px;
}
.slika-kat:hover{
    border-color: #cd0909;
    opacity:0.8;
}
.naslov-kat{
    font-size:18px;
    color:white;
    margin-top:10px;
    padding:20px;
    background: linear-gradient(to bottom, #f85032 0%,#cd0909 100%);
}
.naslov-link:hover{
    opacity: 0.8;
}
.text-kat{
    font-size:15px;
}
.kat-detaljnije{
    color:gray;
    font-size: 15px;
    padding-bottom: 20px;
}
.kat-detaljnije:hover{
    color:#cd0909;
}

.naslov-stranica{
    color:#cd0909;
    padding:5px;
}
.text-stranica{
    padding:5px;
}
.opacity-8{
    opacity: 0.8;
}
.slika-kontrolnasoba{
    width:100%;
    height:200px;
    object-fit: cover;
}
.slika-pozar{
    height: 250px;
}
.lista-klijenata{
    list-style-type: none;
    margin-top: -15px;
}
.kontakt-lista{
    margin-top: 10px;
    list-style-image: url(slike/iii.png);
}
.kontakt-lista li{
    padding-bottom: 10px;
}
.linija{
    height:5px;
    border:none; 
    margin-top:-20px;
    margin-bottom: 10px;
    background-color:#404040;
    background-image: linear-gradient(to right, #404040 , white);
}
.linija-onama{
    width: 85%;
    margin-left:15%;
}
.linija-reference{
    width: 80%;
    margin-left: 20%;
}
.linija-alarmnisistemi{
    width: 74%;
    margin-left:26%;
}
.linija-videonadzor{
    width:76%;
    margin-left:24%;
}
.linija-kp{
    width:53%;
    margin-left:47%;
}
.linija-pp{
    width:63%;
    margin-left:37%;
}
.linija-kp-mala{
    display:none;
}
footer{
    background-color:#404040;
    margin-left: -15px;
    margin-right: -15px;
}
footer a{
    color:white;
}
footer a:hover{
    color:#cd0909;
}
@media screen and (max-width: 992px) {
    body{
        margin-top: 0px;
        background-image: none;
        background-color: white;
    }
    nav li{
        height: auto;
    }
    .nav-li-prvi, .nav-li{
        border:none;          
    }
    .nav-li{
        font-size: 20px;
        width:100%;
        margin-top: 50px;
        padding:10px;
    }
    .nav-li:hover{
        opacity:0.9;
        background-color: transparent;
    }
    .logo-nav, .linija-meni, .linija-kp-mala{
        display:block;
    }
    .navbar-custom {
        background: linear-gradient(to bottom, #f85032 0%,#cd0909 100%);
    }
    .naslov-kat{
        font-size:20px;
    }
    .text-kat{
        font-size:18px;
    }
    .kat-detaljnije{
        font-size: 17px;
    }
    .sadrzaj{
        background-image: none;
    }
    header{
        padding-top: 0px !important;
    }
    .slike-header{
        display:none;
    }
    .carousel, .slide, nav{
        margin-top: -25px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .linija-kp, .linija-pp{
        display:none;
    }
}
@media screen and (max-width: 768px) {
    .linija-onama{
         width:78%;
         margin-left:22%;
    }
    .linija-reference{
        width: 70%;
        margin-left: 30%;
    }
    .linija-alarmnisistemi{
     width: 55%;
     margin-left:45%;
     }
     .linija-videonadzor{
        width:60%;
        margin-left:40%;
    }
 }
@media screen and (max-width: 600px) {
   .linija-onama{
        width:70%;
        margin-left:30%;
   }
   .linija-reference{
    width: 62%;
    margin-left: 38%;
    }
   .linija-alarmnisistemi{
    width: 42%;
    margin-left:58%;
    }
    .linija-videonadzor{
        width: 50%;
        margin-left:50%;
    }

}
@media screen and (max-width: 480px) {
    .linija-onama{
         width:45%;
         margin-left:55%;
    }
    .linija-reference{
        width: 35%;
        margin-left: 65%;
    }
    .linija-alarmnisistemi{
        width: 10%;
        margin-left:90%;
    }
    .linija-videonadzor{
        width: 20%;
        margin-left:80%;
    }
 }
